# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Envs
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Logs & temp
*.log
.DS_Store
Thumbs.db

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
*.swp
